<!DOCTYPE html>
<html lang="{{ lang | default(lang="en") }}">
<head>
    {% block head %}
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %} - Page Title</title>
    {% endblock head %}
</head>
<body>
    <div id="content">{% block content %}{% endblock content %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2020 by Equipe Nitripid.
        {% endblock footer %}
    </div>
</body>
</html>
